@font-face {
  font-family: 'Comfortaa', 'sans-serif';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url("/Comfortaa.ttf") format("truetype");
}

* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    font-family: 'Comfortaa', sans-serif;
  }

:root {
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.2);
}
